### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [52]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
Heroes_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [53]:
#Displaying total number of players
count = len(df["SN"].unique())
total_players = [{'Total Players': count}]
total = pd.DataFrame(total_players)
total

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
#calculations
unique = len(df['Item Name'].unique()) 
average = df['Price'].mean()
purchases = df['Purchase ID'].count()
revenue = df['Price'].sum()

#data frame
New_Heroes_df = [{'Number of Unique Items': unique,
          'Average Price': average,
          'Number of Purchases': purchases,
          'Total Revenue': revenue},]
#cleaner formatting
New_Heroes_df = pd.DataFrame(New_Heroes_df).style.format({'Average Price':'${0:,.2f}', 'Total Revenue':'${0:,.2f}'})
New_Heroes_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
#df of individual players
df_players = df["SN"].unique()

In [22]:
#group by SN to organize individual players
df_group = df.groupby(['SN'], as_index=False).max()

In [23]:
#count of individual players by gender
df_gen_dem = pd.get_dummies(df_group['Gender'])
male_count = df_gen_dem['Male'].sum()
female_count = df_gen_dem['Female'].sum()
gen_queer_count = df_gen_dem['Other / Non-Disclosed'].sum()
tot_gen_count = male_count + female_count + gen_queer_count

In [57]:
#percentages of players based on gender
male = (float(male_count)/float(count))*100
female = (float(female_count)/float(count))*100
other = (float(gen_queer_count)/float(count))*100

#data frame
Gender = [{'Total Count': male_count, 'Percentage of Players': male, 'Gender': 'Male'},
                  {'Total Count': female_count, 'Percentage of Players': female, 'Gender': 'Female'},
                  {'Total Count': gen_queer_count, 'Percentage of Players': other, 'Gender': 'Other/Non-Disclosed'}]

Gender_Dem = pd.DataFrame(Gender)
Gender_Dem = Gender_Dem.set_index('Gender').style.format({'Percentage of Players':'{0:,.2f}%'})
Gender_Dem


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
#group by gender generate purchase count, avg purchase price, total purchase value

purch_gp = df.groupby(['Gender'])

purch_count = purch_gp["Purchase ID"].count()
Avg_purch_price = purch_gp['Price'].mean() 
TTL_purchVal = purch_gp['Price'].sum()

#percentage calc based on sum per person
df_sumPP = df.groupby(['SN', 'Gender']).sum()
ttl_count_gen = df_sumPP.groupby('Gender').mean()
ttl_cnt_PP = ttl_count_gen['Price']

In [68]:
# summary data frame
Purch_Anal = pd.DataFrame({'Purchase Count': purch_count, 'Average Purchase Price': Avg_purch_price, 'Total Purchase Value': TTL_purchVal, 'Avg Total Purchase per Person': ttl_cnt_PP})

In [69]:
#format columns
Purch_Anal['Average Purchase Price']=Purch_Anal['Average Purchase Price'].map('${:.2f}'.format)
Purch_Anal['Total Purchase Value']=Purch_Anal['Total Purchase Value'].map('${:.2f}'.format)
Purch_Anal['Avg Total Purchase per Person']=Purch_Anal['Avg Total Purchase per Person'].map('${:.2f}'.format)
Purch_Anal

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [33]:
#define bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]

In [34]:
#age groups defined
age_group = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [35]:
df_ind = df.groupby(['SN'], as_index=False).max()
df_ind = pd.DataFrame(df_ind)

In [70]:
#cut by age range
df_ind['Age Ranges'] = pd.cut(df_ind['Age'], bins=bins, labels = group_names, include_lowest=True, right=False)
#group by age range calculate values
df_ind_gp = df_ind.groupby(['Age Ranges'])
#total count of players by age
tot_count = df_ind_gp['Age'].count()
#percent of players by age
per_players = (tot_count/len(df_ind))*100

#summary data frame
Age = pd.DataFrame({'Total Count': tot_count, 'Percentage of Players': per_players})

Age['Percentage of Players']=Age['Percentage of Players'].map('{:.2f}%'.format)
Age

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
#define bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
#age groups defined
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [76]:
#cut by age range
df['Age Ranges'] = pd.cut(df['Age'], bins=bins, labels = group_names, include_lowest=True, right=False)

In [77]:
#group by bin, calculations for data frame
df_group = df.groupby(['Age Ranges'])

cnt_pruchase = df_group["Purchase ID"].count()
tot_val = df_group["Price"].sum()

avg_PPrice = tot_val/cnt_pruchase
avg_TPP = tot_val/tot_count

In [78]:
#combine calculations into data frame
Purchase_df = pd.DataFrame({'Purchase Count': cnt_pruchase, 'Average Purchase Price': avg_PPrice, 'Total Purchase Value': tot_val, 'Avg Total Purchase per Person':avg_TPP})
#format columns
Purchase_df['Average Purchase Price']=Purchase_df['Average Purchase Price'].map('${:.2f}'.format)
Purchase_df['Total Purchase Value']=Purchase_df['Total Purchase Value'].map('${:.2f}'.format)
Purchase_df['Avg Total Purchase per Person']=Purchase_df['Avg Total Purchase per Person'].map('${:.2f}'.format)
Purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [88]:
#group by screen name
SN = df.groupby(['SN'])

#create column calculatons
df_count = SN['Purchase ID'].count()
total_value = SN['Price'].sum()
avg_price = SN['Price'].mean()

In [93]:
#create summery data frame
spenders = pd.DataFrame({'Purchase Count': df_count, 'Average Purchase Price': avg_price, 'Total Purchase Value': total_value})
top_spenders = spenders.sort_values(by='Total Purchase Value', ascending=False)

In [94]:
#format cells
top_spenders['Average Purchase Price']=top_spenders['Average Purchase Price'].map('${:.2f}'.format)
top_spenders['Total Purchase Value']=top_spenders['Total Purchase Value'].map('${:.2f}'.format)
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [95]:
#group by item id, item name
group_id = df.groupby(['Item ID','Item Name'])

#create column calculatons
purch_count = group_id['Price'].count()
item_price =group_id['Price'].mean()
purch_value = group_id['Price'].sum()

In [96]:
#create summery data frame
Most_Pop = pd.DataFrame({'Purchase Count': purch_count, 'Item Price': item_price, 'Total Purchase Value': purch_value})
df_sort_Most_Pop = Most_Pop.sort_values(by='Purchase Count', ascending=False)

In [97]:
#format cells
df_sort_Most_Pop['Item Price']=df_sort_Most_Pop['Item Price'].map('${:.2f}'.format)
df_sort_Most_Pop['Total Purchase Value']=df_sort_Most_Pop['Total Purchase Value'].map('${:.2f}'.format)
df_sort_Most_Pop.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [98]:
most_profititem = Most_Pop.sort_values(by='Total Purchase Value', ascending=False)

In [100]:
#format cells
most_profit_item['Item Price']=most_profit_item['Item Price'].map('${:.2f}'.format)
most_profit_item['Total Purchase Value']=most_profit_item['Total Purchase Value'].map('${:.2f}'.format)
most_profit_item.head()

NameError: name 'most_profit_item' is not defined